body {
  padding: 20px
}

h2 {
  text-align: center;
}

.section {
  margin-left: 12%;
  width: 78%;
  padding: 10px;
}

.section h3 {
  font-size: 1.5em;
  margin-left: 4%;
}

.section dl {
  border: 1px solid #F0F0F0;
  padding: 10px;
}

dl dt, dl dd {
  margin-left: 0px;
}

dl dt {
  font-size: 2em;
}

ul {
  list-style-type: none;
}

dl:hover {
  background-color: #F4F5ED;
}

